@charset "UTF_8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

div#container {
    width: 640px;
    height: 640px;
    position: relative;
}

div#sol {
    position: absolute;
    top: 240px;
    left: 240px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: yellow;
}

div#terra, div#lua {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 1.6px 1.6px 0 0;
    border-radius: 50%;
}

div#terra {
    top: 80px;
    left: 80px;
    width: 480px;
    height: 480px;
    animation: orbit 24s linear infinite;
}

div#lua {
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    animation: orbit 12s linear infinite;
}
